<!-- Haus
       ================================================== -->
  <hr class="featurette-divider" id="home" />

  <div class="featurette" >
    <%= link_to "Top", '#body', class: "btn btn-medium btn-primary pull-right smooth_anker" %>

    <h2 class="featurette-heading">Das Haus</h2>

    <p class="lead">Das gemütliche 4-Zimmer Chalet mit 4 bis 6 Betten ist gut eingerichtet und ruhig gelegen.</p>

    <p><strong>Parterre</strong><br />
    Zimmer mit Doppelbett, WC und Lavabo, Heizungsraum</p>

    <p><strong>1. Stock</strong><br />
      <ul>
        <li>Schlafzimmer mit Doppelbett</li>
        <li>Zimmer mit Kajütenbett</li>
        <li>Badezimmer (Dusche/WC)</li>
        <li>Küche</li>
        <li>Wohnzimmer mit Cheminée</li>
        <li>grosser, gedeckter Balkon</li>
      </ul>
    </p>
    <p>Gartensitzplatz mit Feuerstelle</p>

      <a class="fancybox" href="<%= image_path('home/chalet01.jpg') %>" rel="gallery" title="Ferienhaus von Oben">
        <%= image_tag('home/chalet01_tb.jpg' ) %>
      </a>
      <a class="fancybox" href="<%= image_path('home/chalet02.jpg') %>" rel="gallery" title="Ferienhaus">
        <%= image_tag('home/chalet02_tb.jpg' ) %>
      </a>
      <a class="fancybox" href="<%= image_path('home/Zimmer-untenkl.jpg') %>" rel="gallery" title="Doppelbett im Parterre">
        <%= image_tag('home/Zimmer-untenkl_tb.jpg' ) %>
      </a>
      <a class="fancybox" href="<%= image_path('home/Schlafzimmerkl.jpg') %>" rel="gallery" title="Doppelbett 1. Stock">
        <%= image_tag('home/Schlafzimmerkl_tb.jpg' ) %>
      </a>
      <a class="fancybox" href="<%= image_path('home/stube1kl.jpg') %>" rel="gallery" title="Wohnzimmer mit grossem Esstisch">
        <%= image_tag('home/stube1kl_tb.jpg' ) %>
      </a>
      <a class="fancybox" href="<%= image_path('home/stube2kl.jpg') %>" rel="gallery" title="Wohnzimmer mit Cheminée">
        <%= image_tag('home/stube2kl_tb.jpg' ) %>
      </a>
      <a class="fancybox" href="<%= image_path('home/kinderzimmerkl.jpg') %>" rel="gallery" title="Zimmer mit Kajütenbett">
        <%= image_tag('home/kinderzimmerkl_tb.jpg' ) %>
      </a>
      <a class="fancybox" href="<%= image_path('home/Kuechekl.jpg') %>" rel="gallery" title="Küche">
        <%= image_tag('home/Kuechekl_tb.jpg' ) %>
      </a>
      <a class="fancybox" href="<%= image_path('home/Balkon.jpg') %>" rel="gallery" title="Grosser Balkon">
        <%= image_tag('home/Balkon_tb.jpg' ) %>
      </a>
      <a class="fancybox" href="<%= image_path('home/badkl.jpg') %>" rel="gallery" title="Badzimmer mit Dusche und WC">
        <%= image_tag('home/badkl_tb.jpg' ) %>
      </a>
  </div>