<% provide(:title, 'Objektbeschreibung') %>
<% provide(:title, 'Reservation') %>
<div class="container marketing">
  <div class="row">
  <!-- HOME -->
    <div class="span4">
      <%= image_tag('house_icon.jpg', alt:'house', class: 'img-circle') %>
      <p>Alle Informationen über das Ferienhaus. </p>
      <p>
    	<a class="btn smooth_anker" href="#home">Zum Haus &raquo;</a></p>
    </div>

  <!-- Lage -->
    <div class="span4">
      <h2>Lage</h2>
      <p></p>
      <p><a class="btn smooth_anker" href="#location">Lage &raquo;</a></p>
    </div>

  <!-- Besonderes -->
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140">
      <h2>Besonderheiten</h2>
      <p>Special</p>
      <p><a class="btn smooth_anker" href="#special">Besonderes &raquo;</a></p>
    </div>

  </div> <!-- row -->

  <!-- Haus
       ================================================== -->
  <hr class="featurette-divider" id="home" />

  <div class="featurette" >
    <%= link_to "Top", '#body', class: "btn btn-medium btn-primary pull-right smooth_anker" %>
    <!-- <%= image_tag('test.jpg', class: 'featurette-image pull-right') %> -->
    <h2 class="featurette-heading">Das Haus</h2>
    <p class="lead">Das Haus ....</p>
    <p>
      <a class="fancybox" href="<%= image_path('home/home1.jpg') %>" rel="gallery">
        <%= image_tag('home/home1_small.jpg' ) %>
      </a>
      <a class="fancybox" href="<%= image_path('home/home2.jpg') %>" rel="gallery">
        <%= image_tag('home/home2_small.jpg' ) %>
      </a>
      <a class="fancybox" href="<%= image_path('home/home3.jpg') %>" rel="gallery">
        <%= image_tag('home/home3_small.jpg' ) %>
      </a>
      <a class="fancybox" href="<%= image_path('home/home4.jpg') %>" rel="gallery">
        <%= image_tag('home/home4_small.jpg' ) %>
      </a>
    </p>
  </div>

  <!-- Lage
       ================================================== -->
  <hr class="featurette-divider" id="location" />

  <div class="featurette" >
    <%= link_to "Top", '#body', class: "btn btn-medium btn-primary pull-right smooth_anker" %>
    <!-- IFrame for Google Maps> -->
    <iframe width="500" height="350" frameborder="0" scrolling="no" marginheight="0"marginwidth="0" class="pull-left google_map" src="https://maps.google.com/maps/ms?msa=0&amp;msid=204799266309973386557.0004d8af62db1dc00fb2e&amp;ie=UTF8&amp;t=m&amp;ll=46.721476,8.224511&amp;spn=0.010297,0.018282&amp;z=15&amp;output=embed">
    </iframe>
    <h2 class="featurette-heading">Lage</h2>
    <p class="lead">Hasliberg Weissenfluh, Zufahrt mit 2 Parkplätzen beim Haus, im Winter ab Parkplatz Weissenfluh mit Schneeketten 200 m, Restaurants, Lebensmittel, Bahnen Meiringen-Reuti-Mägisalp sind in 20 Gehminuten oder 5 Autominuten erreichbar</p>
  </div>

  <!-- Besonderheit
       ================================================== -->
  <hr class="featurette-divider" id="special" />

  <div class="featurette" >
    <%= link_to "Top", '#body', class: "btn btn-medium btn-primary pull-right smooth_anker" %>
    <!-- <%= image_tag('test.jpg', class: 'featurette-image pull-right') %> -->
    <h2 class="featurette-heading">Besonderheiten</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua</p> 
  </div>
