<% provide(:title, 'Objektbeschreibung') %>
<% provide(:title, 'Reservation') %>
<div class="container marketing">
  <div class="row">
  <!-- HOME -->
    <div class="span4">
      <%= image_tag('icons/home.png', alt:'home') %>
      <p>Informationen über das Haus. </p>
      <p>
    	<a class="btn smooth_anker" href="#home">Zum Haus &raquo;</a></p>
    </div>

  <!-- Lage -->
    <div class="span4">
      <%= image_tag('icons/world.png') %>
      <p>Die Lage des Hauses</p>
      <p><a class="btn smooth_anker" href="#location">Lage &raquo;</a></p>
    </div>

  <!-- Region / excursions -->
    <div class="span4">
      <%= image_tag('icons/star.png') %>
      <p>Rundherum</p>
      <p><a class="btn smooth_anker" href="#special">Region / Ausflüge &raquo;</a></p>
    </div>

  </div> <!-- row -->

  <%= render 'homeDescription' %>

  <%= render 'location' %>

  <%= render 'specials' %>
