<h1><%= @category_path %></h1>

<% @gallery_images.in_groups_of(6, false) do |image_line| %>
	<div class="row-fluid">
		<% image_line.each do |image| %>
			<div class="image-box span2 row-fluid">
				<div class="span12 row-fluid">
					<a class="fancybox" href="<%= image_path(get_original(image)) %>" rel="gallery" title="<%= get_image_name(image) %>">
  				<%= image_tag(get_image_path(image)) %>
  				</a>
  				<div class="span12 description">
  					<%= get_image_name(image) %>
  				</div>
				</div>
			</div>
		<% end %>
	</div>
<% end %>

<%= link_to "Zurück", gallery_path, class: "btn btn-medium btn-primary" %>
<div class="clearfix"></div>

