

<div class="row">
	<div class="span1">
			<%= link_to "<-Zurück", :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>
		</div>
		<div class="span1 offset5">
			<%= link_to "Heute", :month => (Date.today).strftime("%Y-%m-01") %>
		</div>
			<div class="span1 offset4">
			 <%= link_to "Vorwärts->", :month => (@date.end_of_month+1).strftime("%Y-%m-01") %>
	</div>
	<p></p><br />

	  <div class="span4">
			<%= calendar(:year => year_now, :month => month_now, :first_day_of_week => 1) do |d|
				if @dates_test.include?(d)
					[d.mday, {:class => "specialDay"}]
				else
					[d.mday, {:class => "normalDay"}]
				end
  		end %>
		</div>

		<div class="span4">
			<%= calendar(:year => year_next, :month => month_next, :first_day_of_week => 1) do |d|
				if @dates_test.include?(d)
					[d.mday, {:class => "specialDay"}]
				else
					[d.mday, {:class => "normalDay"}]
				end
  		end %>
		</div>

		<div class="span4">
			<%= calendar(:year => year_next_next, :month => month_next_next, :first_day_of_week => 1) do |d|
				if @dates_test.include?(d)
					[d.mday, {:class => "specialDay"}]
				else
					[d.mday, {:class => "normalDay"}]
				end
  		end %>
		</div>

</div>