<% provide(:title, 'Reservations') %>
<h1>Reservationen</h1>

<div class="row">
	<div class="span12">
		<% if @bookings_new.any? %>
		<h2>Neue Reservationen <%= @bookings_new.count %></h2>

		<%= will_paginate @bookings_new, class: "pagination" %>

		<table class="table table-striped table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th>E-Mail</th>
					<th>Vom</th>
					<th>Bis</th>
					<th>Anz. Personen</th>
					<th>Anfrage am</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			<% @bookings_new.each do |booking_new| %>
			<tr>
				<td><%= link_to booking_new.name, booking_new %> </td>
				<td><%= booking_new.email %></td>
				<td><%= l booking_new.start_date %></td>
				<td><%= l booking_new.end_date %></td>
				<td><%= booking_new.adults + booking_new.children %></td>
				<td><%= l booking_new.created_at.to_date %></td>
				<td> <%= link_to "Akzeptieren", booking_accept_path(booking_new, booking_id: booking_new.id), { method: :delete, class: "btn btn-mini btn-success", confirm: "Anfrage wirklich akzeptieren?", method: "post"} %>
					<%= link_to "Ablehnen", booking_reject_path(booking_new, booking_id: booking_new.id), { method: :delete, class: "btn btn-mini btn-danger", confirm: "Anfrage wirklich ablehnen", method: "post"} %>
				</td>
			</tr>
			<% end %>
			</tbody>
		</table>
	
	
	<% else %>
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
  		Keine neuen Anfragen
		</div>
	
	<% end %>
	</div>

	<div class="span12">
		<% if @bookings_accepted.any? %>
		<h2>Akzeptierte Reservationen <%= @bookings_accepted.count %></h2>

		<%= will_paginate @bookings_accepted, class: "pagination" %>

		<table class="table table-striped table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th>E-Mail</th>
					<th>Vom</th>
					<th>Bis</th>
					<th>Anz. Personen</th>
					<th>Akzeptiert am</th>
					<th>Archivieren</th>
				</tr>
			</thead>
			<tbody>
			<% @bookings_accepted.each do |booking_accepted| %>
			<tr>
				<td><%= link_to booking_accepted.name, booking_accepted %> </td>
				<td><%= booking_accepted.email %></td>
				<td><%= l booking_accepted.start_date %></td>
				<td><%= l booking_accepted.end_date %></td>
				<td><%= booking_accepted.adults + booking_accepted.children %></td>
				<td><%= l booking_accepted.updated_at.to_date %></td>
				<td> <%= link_to "Archivieren", booking_archive_path(booking_accepted, booking_id: booking_accepted.id), { method: :delete, class: "btn btn-mini btn-info", confirm: "Anfrage wirklich archivieren?", method: "post"} %>
					<% if !booking_accepted.start_date.past? %>
						<%= link_to "Edit", edit_booking_path(booking_accepted.id), {class: "btn btn-mini"} %>
					<% end %>
				</td>
			</tr>
			<% end %>
			</tbody>
		</table>
		<% else %>
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
  		Keine akzeptierten Anfragen
		</div>
	<% end %>
	</div>

	
	<div class="span12">
		<% if @bookings_rejected.any? %>
		<h2>Abgelehnte Reservationen <%= @bookings_rejected.count %></h2>

		<%= will_paginate @bookings_rejected, class: "pagination" %>

		<table class="table table-striped table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th>E-Mail</th>
					<th>Vom</th>
					<th>Bis</th>
					<th>Anz. Personen</th>
					<th>Abgelehnt am</th>
					<th>Archivieren</th>
				</tr>
			</thead>
			<tbody>
			<% @bookings_rejected.each do |booking_rejected| %>
			<tr>
				<td><%= link_to booking_rejected.name, booking_rejected %> </td>
				<td><%= booking_rejected.email %></td>
				<td><%= l booking_rejected.start_date %></td>
				<td><%= l booking_rejected.end_date %></td>
				<td><%= booking_rejected.adults + booking_rejected.children %></td>
				<td><%= l booking_rejected.updated_at.to_date %></td>
				<td> <%= link_to "Archivieren", booking_archive_path(booking_rejected, booking_id: booking_rejected.id), { method: :delete, class: "btn btn-mini btn-info", confirm: "Anfrage wirklich archivieren?", method: "post"} %></td>
			</tr>
			<% end %>
			</tbody>
		</table>
		<% else %>
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
  		Keine abgelehnten Anfragen
		</div>
	<% end %>
	</div>
</div>