<% provide(:title, 'Reservation') %>
<div class="container">
  <div class="row marketing">

    <div class="span4">
      <%= image_tag('icons/calendar.png') %>
      <p>Reservieren Sie das Haus noch heute. </p>
      <p>
       <a class="btn smooth_anker" href="#reservation">Zur Reservation &raquo;</a></p>
     </div>

     <div class="span4">
      <%= image_tag('icons/check.png') %>
      <p>Überprüfen Sie die Verfügbarkeit.</p>
      <p><a class="btn smooth_anker" href="#availability">Auslastung &raquo;</a></p>
    </div>

    <div class="span4">
      <%= image_tag('icons/money.png') %>
      <p>Preisliste für Übernachtungen</p>
      <p><a class="btn smooth_anker" href="#price">Preisliste &raquo;</a></p>
    </div>

  </div><!-- /.row -->

<%= render 'reservationForm' %>

<!-- Verfügbarkeit -->
<hr class="featurette-divider"  id="availability" >

<div class="featurette">
  <%= link_to "Top", '#body', class: "btn btn-medium btn-primary pull-right smooth_anker" %>
  <h2 class="featurette-heading">Verfügbarkeit <%= booking_new_year(@date) %></h2>
    <%= render 'calenderReservation' %>
</div>

<%= render 'prices' %>
