<div class="container">
<h1>Schnelles Reservieren</h1>

<%= simple_form_for(@booking, url: simple_booking_path, method: :post) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

 <div class="span6">    
    <%= f.input :start_date, error: false, label: "Startdatum", input_html: { class: "span3" }, as: :date_picker %>

    <%= f.input :end_date, error: false, label: "Enddatum", input_html: { class: "span3" }, as: :date_picker %>

    <%= f.input :note, label: "Bemerkungen", input_html: { class: "span3" } %>
    
    <%= f.submit "Anfragen", class: "btn btn-large btn-primary" %>
    
  </div>
  <% end %>

</div>
