<h1>Passwort ändern</h1>
<div class="row">
	<div class="span5 offset4">
	<p>Setzte ein neues Passwort</p>
	<br />
	<%= form_for(@user, url: url_for(action: 'update_password_reset', controller: 'users'), method: "post") do |f| %>
			
			<%= render 'shared/error_messages', object: f.object %>
			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.label :password_confirmation, "Password wiederholen" %>
			<%= f.password_field :password_confirmation %>

			<%= f.submit "Passwort speichern", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
