<% provide(:title, 'All users') %>
<h1>Alle Benutzer</h1>

<%= will_paginate %>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>E-Mail</th>
			<th>Erstellt am</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= link_to user.name, user %> </td>
			<td><%= user.email %></td>
			<td><%= l user.created_at %></td>
			<td>
				<% if current_user?(user) %>
				<%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-mini' %>
				<% end %>

				<% if current_user.admin? && !current_user?(user) %>
				<%= link_to 'Löschen', user_path(user), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= will_paginate %>


